spring.datasource.url=${DB_URL:jdbc:postgresql://localhost:5432/migration_db}
spring.datasource.username=${DB_USER:migration_user}
spring.datasource.password=${DB_PASS:migration_pass}
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=false

spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB
server.port=${PORT:8080}

logging.level.com.schemaforge=DEBUG
logging.file.name=logs/migration-tool.log

# JWT Security
jwt.secret=super_secret_default_key_that_must_be_at_least_32_bytes_long_for_hs256_algo_to_be_secure
jwt.expiration=86400000

# Admin User
admin.username=admin
admin.password=admin_secret
